body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
    background-color: #f5f5f5
}

.game-container{
    max-width: 1000px;
    margin: 20px auto;
    padding:20px;
    background-color: #fff;
    border: 20px solid #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.title {
    text-align:center;
    margin-bottom:20px;
    color:#333;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.info-section {
    flex:1;
    border: 2px solid #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    background-color: #fdfdfd;
}

.info-section h3 {
    text-align:center;
    color:#555;


}

.result,.animal-name{
    margin: 10px 0;
}

.result p,
.animal-name p {
    text-align: center;
    font-weight: bold;
    font: size 1.2rem;
}

.result .win{
    color:green;
}

.result.lose{
    color:red;
}

.game-section{
    flex: 2;
    text-align: center;
}

.animal-grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.animal-card {
    cursor:pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s, border-color 0.2s;
}

.animal-card img{
    width: 100%;
    height:auto;
    display:block;
}

.animal-card:hover {
    transform:scale(1.05);
    border-color:orange;
}